.box-space-pets{
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* .box-space-pets>div{
    width: calc(50% - 10px);
} */
.box-space-pets>a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pet-column{
    width: calc(100% - 370px);
    height: 146px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    color: black;
    border-bottom: 4px solid #00AFBB;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.profile-row-text{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}
.profile-row-text>.profile-text{
    font-weight: 400;
    color: #7b7e80;
}
.line-button-pet{
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    gap: 20px;
}
.line-button-pet>a{
    width: 100%;
}
#box-icon-pet{
    background: #00AFBB;
    width: 350px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #F8F8FF;
    border-radius: 7px 0 0 0;
}
#box-icon-pet>img{
    width: 100%;
    height: 130px;
    border-radius: 7px;
    object-fit: cover;
}
@media only screen and (max-width: 850px){
    #box-icon-pet{
        width: calc(100% - 20px);
        border-radius: 7px 7px 0 0;
    }
    #box-icon-pet>img{
        width: 100%;
    }
    .pet-column{
        width: 100%;
        padding: 10px 0;
    }
}