.box-icon-service{
    width: 200px;
}
.box-icon-service>i{
    font-size: 90px;
}
.box-icon-price{
    background: #00AFBB;
    width: 150px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #F8F8FF;
}
.line-size{
    height: 60vh;
}
.box-icon-date{
    height: auto;
    float: left;
    padding: 8px 25px;
    font-size: 35.5px;
    font-weight: 500;
    color: #006269;
}
.price-service,.data-service{
    padding: 10px 10px 10px 180px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #006269;
}
.data-service{
    padding: 10px 10px 10px 80px;
}

.caixa-texto{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    text-align: justify;
    color: rgba(0, 0, 0, 0.4);
}