.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}
label{
    color: #7b7e80;
    font-weight: 400;
}
.line {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
}
.form-group{
    width: 100%;
}
.input {
    width: -webkit-fill-available;
    outline: none;
    padding: 10px 15px;
    border: 2px solid rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
}